.MuiDialog-paperWidthLg {
    width: 900px;
    max-width: 90%!important;
    max-height: 90%!important;
    height: 90%;
}
.MuiDialogContent-dividers{
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.MuiDialogContent-dividers {
    border-bottom: none!important;
}
.MuiDialogActions-root {
    padding-right: 10px!important;
    height: 50px!important;
    max-height: 50px!important;
    min-height: 50px!important;
}
